html,body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#wrapper
{
  width: 100vw;
  height: 100vh;
  position: relative;
}
#container
{
  width: 100vw;
  height: 400vh;
  position: absolute;
  top: 0;
  left: 0;
}
main, aside
{
  width: 100vw;
  height: 100vh;
  position: relative;
}
section
{
  width: 100vw;
}
article
{
  display: flex;
  flex-direction: column;
}
article p
{
  text-align: center;
  margin: 0;
}

span
{
  display: none;
  font-size: 0;
}
#bonusmalus
{
  display: flex;
}
#bonusmalus article
{
  flex: 1;
}
sub
{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(255,255,0);
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
}
.info
{
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.2);
}
.info p
{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px;
  border: 3px solid black;
  background-color: rgb(255,255,255);
}





.selected circle
{
  stroke: rgb(0,0,255);
}
#bonus .selected circle
{
  stroke: rgb(0,255,0);
}
#malus .selected circle
{
  stroke: rgb(255,0,0);
}

.selected .cross
{
  display: none;
}

.grid {
  width: 600px;
  height: 600px;
  /*background-color: blue;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 6px solid black;
}

.grid .row {
  /*background: rgba(255, 0, 0, 0.5);*/
  flex: 1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
}

.grid .row .cell {
  border: 5px solid blue;
  box-sizing: border-box;
  flex: 1;
  margin: 0;
  padding: 0;
  position: relative;
}


.grid .row .cell.ship {
  background-color: yellow;
}

.grid .row .cell.hit {
  background-color: red;
}

.grid .row .cell.sunk {
  background-color: black;
  color: white;
}

.commands {
  position: absolute;
  top: 50px;
  right: 80px;
}

.button-control {
  margin-top: 20px;
}

.ship-button {
  margin: 10px;
  padding: 5px;
  background-color: #ADD8E6;
}

.ship-button.selected {
  box-shadow: inset 0 0 5px black;
  background-color: #76D8E6;
}

.ship-button.destroyer {
  width: 70px;
}

.ship-button.cruiser {
  width: 105px;
}

.ship-button.submarine {
  width: 105px;
}

.ship-button.battleship {
  width: 140px
}

.ship-button.carrier {
  width: 175px;
}
