@font-face
{
  font-family: "Gunplay";
  src: url("../media/font/gunplay_rg.ttf") format('truetype');
}

*
{
  font-family: "Gunplay";
  color: white;
  text-shadow: -1px 0 0 rgba(0, 0, 0, 0.8),
  -2px 0 0 rgba(0, 0, 0, 0.8),
  1px 0 0 rgba(0, 0, 0, 0.8),
  2px 0 0 rgba(0, 0, 0, 0.8),
  0 -1px 0 rgba(0, 0, 0, 0.8),
  0 -2px 0 rgba(0, 0, 0, 0.8),
  0 1px 0 rgba(0, 0, 0, 0.8);
  0 2px 0 rgba(0, 0, 0, 0.8);
}
audio
{
  display: none;
}
video
{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
a
{
  color: blue;
  text-shadow: none;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(121, 137, 51);
}

#transition1, #transition2
{
  display: none;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#transition1
{
  opacity: 0;
}
#transition2
{
  opacity: 1;
}
#transition1.transition11
{
  display: block;
}
#transition1.transition12
{
  opacity: 1;
  transition: opacity 0.25s;
}
#transition2.transition21
{
  display: block;
}
#transition2.transition22
{
  opacity: 0;
  transition: opacity 0.25s;
}

#wrapper, #gamewrapper
{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
}
#wrapper
{
  background-image: url('../media/img/intro.jpg');
}
#container, #gamecontainer
{
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
main, aside, .gameboard
{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.gameboard, .gamebuttons
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gamebuttons
{
  flex-direction: column;
}
#shipbuttons, #malusbuttons
{
  order: 1;
}
.grid
{
  order: 2;
}
#shotbuttons, #bonusbuttons
{
  order: 3;
}
#shipbuttons img
{
  transform: rotate(90deg);
}
section
{
  width: 100vw;
}
section
{
  display: flex;
  flex-direction: column;
}
section p
{
  text-align: center;
  margin: 0;
}
button
{
  font-variant: small-caps;
  font-size: 1.5rem;
  border: 2px solid black;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}
h1, h2
{
  text-align: center;
}
h1
{
  height: 60px;
  font-size: 3rem;
  color: #eee;
  text-shadow: -1px 0 0 rgba(0, 0, 0, 0.9),
  -2px 0 0 rgba(0, 0, 0, 0.9),
  1px 0 0 rgba(0, 0, 0, 0.9),
  2px 0 0 rgba(0, 0, 0, 0.9),
  0 -1px 0 rgba(0, 0, 0, 0.9),
  0 -2px 0 rgba(0, 0, 0, 0.9),
  0 1px 0 rgba(0, 0, 0, 0.9);
  0 2px 0 rgba(0, 0, 0, 0.9);
}


h2
{
  font-size: 2.5rem;
}
strong
{
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-variant: small-caps;
}
button
{
  color: black;
  text-shadow: none;
}
main button
{
  width: 100px;
  background-color: white;
}
.playbuttons
{
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playbuttons button
{
  width: 100%;
  font-size: 2.5rem;
}
#PLAYPRACTICE
{
  background-color: white;
}
#PLAYSOLO
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#PLAYSOLO button
{
  background-color: yellow;
}
#PLAYSOLO button:first-child
{
  background-color: green;
}
#PLAYSOLO button:last-child
{
  background-color: red;
}
#PLAYMULTI
{
  background-color: blue;
}
.asidebuttons
{
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#OPTIONS
{

}
#HELP
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255,255,0);
  font-size: 2.5rem;
  font-weight: bold;
  box-sizing: border-box;
}
#STATS
{

}
#CREDITS, .MENU
{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  background-color: white;
}

span
{
  display: none;
  font-size: 0;
}
#bonusmalus
{
  display: flex;
}
#bonusmalus section
{
  flex: 1;
}
#specialshots article, #settings article
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
article p
{
  margin-left: 5px;
  margin-right: 5px;
}
sub
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(255,255,0);
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-shadow: none;
  box-sizing: border-box;
}
.info
{
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.2);
}
.info p
{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px;
  border: 3px solid black;
  background-color: rgb(255,255,255);
  font-size: 1.25rem;
  white-space: nowrap;
  color: black;
  text-shadow: none;
}
.info strong
{
  color: black;
  text-shadow: none;
}

.ring
{
  cx: 25;
  cy: 25;
  r: 20;
  stroke: rgb(0,0,0);
  stroke-width: 5;
  fill: rgb(255,255,255);
}
.optionselected .ring
{
  stroke: rgb(0,0,255);
}
#bonus .optionselected .ring
{
  stroke: rgb(0,255,0);
}
#malus .optionselected .ring
{
  stroke: rgb(255,0,0);
}
.cross
{
  stroke: none;
  fill: rgb(255,0,0);
}
.optionselected .cross
{
  display: none;
}

.statscontainer, #credits
{
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  justify-content: center;
  align-items: flex-start;
}
.statsinner
{
  height: 80%;
  width: 1024px;
  margin: 0;
  background-color: rgba(0,200,0, 0.9);
  border: 30px solid rgba(0,0,0, 0.9);
  border-radius: 10px;
}
.statsbuttons
{
  height: 35px;
  display: flex;
  justify-content: space-between;
}
.hidden
{
  visibility: hidden;
}
table
{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  font-size: 20px;
  table-layout: fixed;
}
th
{
  text-align: center;
}
tfoot th
{
  width: calc(100% / 3);
}
@media screen and (max-width: 1024px)
{
  .statsinner
  {
    width: 768px;
  }
}
@media screen and (max-width: 768px)
{
  .statsinner
  {
    width: 425px;
  }
}
@media screen and (max-width: 425px)
{
  .statsinner
  {
    width: 375px;
  }
}
@media screen and (max-width: 375px)
{
  .statsinner
  {
    width: 320px;
  }
}

.dev
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.dev div
{
  flex: 1;
}
.dev a img
{
  width: 50px;
  height: 50px;
  background-color: white;
}
figure
{
  margin-left: 0;
  margin-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
figure img
{
  width: 100px;
  height: 100px;
}
#soundcredits, #musiccredits
{
  position: absolute;
  bottom: 0;
  text-align: center;
}
#musiccredits
{
  left: 50%;
  transform: translate(-160%);
}
#soundcredits
{
  right: 50%;
  transform: translate(160%);
}

#help
{
  display: flex;
  flex-direction: column;
}
#help div
{
  width: 1024px;
  margin: auto;
}
#help p, #help ol, #help ul
{
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px)
{
  #help div
  {
    width: 768px;
  }
}
@media screen and (max-width: 768px)
{
  #help div
  {
    width: 425px;
  }
}
@media screen and (max-width: 425px)
{
  #help div
  {
    width: 375px;
  }
}
@media screen and (max-width: 375px)
{
  #help div
  {
    width: 320px;
  }
}

.commandbuttons
{
  position: absolute;
}
.exit
{
  right: 0;
  top: 0;
}
.change
{
  left: 0;
  bottom: 0;
}
.validate
{
  right: 0;
  bottom: 0;
}
.grid {
  width: 600px;
  height: 600px;
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  border: 6px solid black;
}

.grid .row {
  /*background: rgba(255, 0, 0, 0.5);*/
  flex: 1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
}

.grid .row .cell {
  border: 5px solid blue;
  box-sizing: border-box;
  flex: 1;
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 10%;
}


.grid .row .cell.ship {
  background-color: yellow;
}

.grid .row .cell.hit {
  background-color: red;
}

.grid .row .cell.sunk {
  background-color: #222;
  color: white;
}

.grid .row .cell.unavalaible {
  background-color: rgba(235, 70, 0, .7);
}

.grid .row .cell.occupied {
  background-color: rgba(235, 70, 0, .7);
}

.grid .row .cell.impossible {
  background-color: black;
  color: white;
}

.commands {
  position: absolute;
  top: 50px;
  right: 80px;
}

.button-control {
  margin-top: 20px;
}

.gamebuttons button
{
  margin: 0;
  padding: 0;
  background-color: #ADD8E6;
  width: 100px;
}

.ship-button.radio-selected {
  box-shadow: inset 0 0 5px black;
  background-color: #76D8E6;
}
